#Host file for the EC2 host for use with ansible deployments

#Local hosts
[localhost]
127.0.0.1  ansible_connection=local

#Docker Server (AWS)
[shapeshift]
{{ HOST_IP  }} ansible_connection=ssh   ansible_user=ubuntu ansible_ssh_private_key_file=~/.ssh/{{ SSH_KEY_NAME }}

